
body{
    display: flex;
    justify-content: center;
margin-top: 50px;
  
  }
  
 .popover {
    display: none;
    position: absolute
     width: 250px;
    padding: 10px;
     border-radius: 10px;
    background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
     font-size: 16px;
    line-height: 1.5;
